<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="margin-bottom: 100px;">
        <div class="card-header">
        Log In
        </div>
        <div class="card-body">
          <%= form_with(scope: :session, url: login_path, local: true) do |form| %>
            <div class="mb-3">
              <%= form.label :email, class: "form-label" %>
              <%= form.email_field :email, autofocus: true, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= form.label :password, class: "form-label" %>
              <%= form.password_field :password, class: "form-control" %>
            </div>

            <div class="actions">
              <%= form.submit "Log In", class: "btn btn-primary w-100" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
