<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col md-6">
      <div class="card" style="margin-bottom: 100px;">
        <div class="card-header">
          Edit Profile
        </div>
        <div class="card-body">
          <%= form_with(model: @user, local: true) do |form| %>
            <% if @user.errors.any? %>

              <div id="error_explanation" class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= form.label :email, class: "form-label mb-3" %>
              <%= form.email_field :email, id: :user_email, class: "form-control mb-3" %>
            </div>

            <div class="field">
              <%= form.label :name, class: "form-label mb-3" %>
              <%= form.text_field :name, id: :user_name, class: "form-control mb-3" %>
            </div>
            <div class="actions">
              <%= form.submit "Update", class:"btn btn-primary w-100" %>
            </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Back', user_time_sheets_path(@user), class:"btn btn-primary" %>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
