<%= form_with(model: [@user, @time_sheet], local: true) do |form| %>
  <% if @time_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_sheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
      <% @time_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate, step: 0.01 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

