<%= form_with(model: [@user, @time_sheet], local: true) do |form| %>
  <% if @time_sheet.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(@time_sheet.errors.count, "error") %> prohibited this timesheet from being saved:</h4>
      <ul>
      <% @time_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :rate, class: "form-label" %>
    <%= form.number_field :rate, step: 1, class: "form-control" %>
  </div>

  <h5 class="card-title">Line Items</div>

  <div class="card-body">
  <div class="mb-3">
    <%= form.fields_for :line_items do |line_item_form| %>
      <div class="line-item">
        <div class="mb-3">
          <%= line_item_form.label :date, class: "form-label" %>
          <%= line_item_form.date_field :date, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= line_item_form.label :minutes, class: "form-label" %>
          <%= line_item_form.number_field :minutes, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= line_item_form.check_box :_destroy %>
          <%= line_item_form.label :_destroy, "Remove Line Item" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <div id="new_line_item"></div>
    <%= link_to "Add Line Item", "#", id: "add_line_item", class: "card-link mb-3",  data: {content: form.fields_for(:line_items, LineItem.new, child_index: "NEW_RECORD") { |line_item_form| render("line_item_fields", line_item_form: line_item_form) }} %>
  </div>

  <div class="actions">
    <%= form.submit @time_sheet.persisted? ? "Update Time Sheet" : "Create Time Sheet", class: "btn btn-primary w-100" %>
  </div>
<% end %>

