<%= form_with(model: [@user, @time_sheet], local: true) do |form| %>
  <% if @time_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_sheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
      <% @time_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate, step: 0.01 %>
  </div>

  <h3>Line Items</h3>
  <%= form.fields_for :line_items do |line_item_form| %>
    <div class="line_item">
      <%= line_item_form.label :date %>
      <%= line_item_form.date_field :date %>

      <%= line_item_form.label :minutes %>
      <%= line_item_form.number_field :minutes %>

      <%= line_item_form.check_box :_destroy %>
      <%= line_item_form.label :_destroy, "Remove Line Item" %>
    </div>
  <% end %>

  <div id="new_line_item"></div>
  <%= link_to "Add Line Item", "#", id: "add_line_item", data: {content: form.fields_for(:line_items, LineItem.new, child_index: "NEW_RECORD") { |line_item_form| render("line_item_fields", line_item_form: line_item_form) }} %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

